body {
    margin: 0;
    font-family: Arial, sans-serif;
}  
header {
    background-color: #EADFCE;
    color: rgb(233, 187, 62);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}    
nav a{
    margin-left: 20px;
    color:rgb(233, 187, 62);
    font-weight:bold;
    text-decoration: none;
}
nav a:hover {
    color: #000;
}    
.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-box input {
    padding: 8px 12px;
    width: 450px;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 14px;
    background-color: #f3f3f3;
    color: #666;
    text-align: left;
}  
.header-right {
    display: flex;
    align-items: center;
    gap:20px;
}   
.cart {
   font-size: 28px;
   cursor: pointer;
   margin-bottom: 15px;
   
}  
.banner img{
    width: 100%;
    height:auto;
    display:block;
}
.products{
    margin-top: 50px;
    display:flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #EADFCE;
    padding: 50px;

}
.product-card{
    width: 200px;
    height: 250px;
    background-color: rgb(233, 187, 62);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #0c0b0b;
    cursor:pointer;
    transition: transform 0.2s;
    
}
.product-card:hover {
    transform: scale(1.05);
}
.new-arrivals-h2 {
    text-align: center;
    margin-top: 50px;
}
.quiz{
   background-color: rgb(187, 28, 187); 
   padding-top: 60px;
   padding-bottom: 300px;
   text-align: center;
}
.quiz-title{
    font-size: 40px;
    color: rgb(233, 187, 62);
}
.questions{
    /* text-align: left; */
    font-weight: bold;
    font-size: 30px;
    padding-left: 50px;
    color: white;
}
.answers button{
    margin: 15px auto;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(233, 187, 62);
    color: white;
    transition: background-color 0.2s, transform 0.2s;
    display: block;
      
}
.answers button:hover {
    background-color: darkorange;
    transform: scale(1.05);
}
/* .next{
    margin-top: 30px;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d35400;
    color: white;
    transition: background-color 0.2s, transform 0.2s;

}

.next-btn:hover {
    background-color: #a04000;
    transform: scale(1.05);
} */

